[submodule "pack/mypackage/start/unite.vim"]
	path = pack/mypackage/start/unite.vim
	url = https://github.com/Shougo/unite.vim
[submodule "pack/mypackage/start/nerdtree"]
	path = pack/mypackage/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/mypackage/start/vim-fugitive"]
	path = pack/mypackage/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/mypackage/start/vim-quickrun"]
	path = pack/mypackage/start/vim-quickrun
	url = https://github.com/thinca/vim-quickrun
